[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "locpolExpectile"]
	path = locpolExpectile
	url = https://github.com/cran/locpolExpectile
